{{ define "main" }}
<h1>Posts</h1>
<div class="">
    <!-- Range over the pages and only include the ones that are a post type -->
    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ range (.Paginate $pages).Pages }}
    <article>
        <h2>
            <a href="{{ .Permalink }}">
                {{ .Title }}
            </a>
        </h2>
        <div>
            <p>{{ .Summary }}</p>
            {{ if (and (.Site.Params.showReadMore) (.Truncated)) }}
            <p><a href="{{ .RelPermalink }}">Read more...</a></p>
            {{ end }}
        </div>
        <div class="post-footer">
            <time>{{ .Date.Format "January 2, 2006" }}</time>

            <!-- Display tags -->
            {{if .Params.tags}}
            {{ range .Params.tags }}
            <a class="tag" href="/tags/{{ . | urlize }}">#{{.}}</a>
            {{ end }}
            {{ end }}
        </div>

    </article>
    {{ end }}
</div>
<!-- TODO make this semantic html, like a footer or something -->
<div class="post-footer">
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <hr>
    <p>For older posts, check out the <a href="/archives">Archives</a>.</p>
</div>
{{ end }}
